<div class='bg-gray-200 rounded-2xl m-4 overflow-hidden'>
  <div class='flex'>
    <div class=''>
      <img src='{{"https://image.tmdb.org/t/p/original" + favMovie.poster_path }}' class="w-56 rounded-2xl m-2 shadow-lg">
    </div>
    <div class='flex flex-col justify-between mt-4 mb-4 ml-4'>
      <div class=''>
        <div class='font-semibold text-2xl'>{{ favMovie.title }}</div>
        <div class='font-medium mt-2'>{{ favMovie.overview }}</div>
        <div class='font-light mt-2'>{{ favMovie.release_date }}</div>
        <div *ngIf='favMovie.adult' class='font-light text-red-600'>Adult movie</div>
      </div>
      <div class=''><!--favMovie.onFavorites nicht in tmdb-data, in eigener db muss die property hinzugefügt werden (addToFavorites)-->
          <button (click)='saveMovie()' *ngIf='!favMovie.onFavorites' class='border-black border rounded-lg p-4 ml-4 mb-4 bg-green-400 transition hover:bg-green-500 ease-in-out duration-500'>Add to favorites</button>
          <button *ngIf='favMovie.onFavorites' class='border-gray-600 border-2 rounded-lg mr-2 mb-2  hover:bg-gray-300 h-8 w-20'>Aus meinen Favoriten entfernen</button> <!-- delete function deleteFromFavorites -->
      </div>
    </div>
  </div>
    <button (click)='goBack()' class='border-gray-600 border-2 rounded-lg px-4 ml-2 mb-2 hover:bg-gray-300 '>Back</button>
</div>
