<div class="md:grid grid-cols-3 gap-4 mt-4 px-10">
  <div *ngFor='let movie of moviesList.results' class="flex ml-4 bg-gray-200 rounded-2xl overflow-hidden hover:shadow-md">
   
      <img *ngIf='movie.poster_path' src='{{"https://image.tmdb.org/t/p/original" + movie.poster_path }}' class="w-36 m-2 rounded-2xl">
      <div class='ml-4'>
        <div>
          <h2 class='font-medium'>{{ movie.title }}</h2>
          <p class='font-light'>{{ movie.release_date }}</p>
        </div>
        <!--(click)=getDetails(PASS ID) or with routerModule? -->
        <button (click)='getDetails(movie.id)' class='border-gray-600 border-2 rounded-lg p-1 hover:bg-gray-300 h-10'>More</button>
      </div>
  </div>
</div>