<ol class='bg-gray-200 rounded-2xl m-4 overflow-hidden'>
  <form #sortFavoritesForm='ngForm'>
    <select class='ml-4 rounded-2xl hover:border-black border-gray-200' ngModel name='sortBy' (change)='sortMovies(sortFavoritesForm.value)'>
      <option value=''>Sort by</option>
      <option *ngFor='let category of sortCategories'>{{ category }}</option>
    </select>
  </form>
  <li *ngFor='let movie of favoriteMovies' class='bg-gray-400 border border-black rounded-2xl p-2 m-4 w-1/2 overflow-hidden flex'>
    <div class='flex-1'>
      <img src='{{"https://image.tmdb.org/t/p/original" + movie.poster_path }}' class="rounded-2xl m-2 max-h-72 shadow-lg">
    </div>
    <div class='flex-1 mt-4 mb-4 ml-4'>
      <div class='font-semibold text-2xl'>{{ movie.title }}</div>
      <div class='font-medium mt-2'>{{ movie.overview }}</div>
      <div class='font-light mt-2'>{{ movie.release_date }}</div>
      <div *ngIf='movie.adult' class='font-light text-red-600'>Adult movie</div>
      <button (click)='deleteMovie(movie._id)' class='border-black border rounded-lg w-32 p-4 mt-4 mb-4 bg-gray-200 transition hover:bg-gray-300 ease-in-out duration-500'>Delete</button>
    </div>
  </li>
</ol>
